@import url('https://fonts.googleapis.com/css?family=Roboto');
:root{
	--dark-blue-grey:rgb(38, 59, 83);
	--light-blue-grey:rgb(168, 183, 201);

	--dark-red:rgb(190, 10, 10);
	--light-red:rgb(255, 24, 24);


	--dark-green:#1b7e03;
	--light-green:#25b102;
}
@font-face{
	font-family: 'Cave-Story';
	src:url('src/Cave-Story.ttf');
}
body{
	font-family: roboto;
	margin: 0;
	padding: 0;
}
ul {
	color: white;
	list-style-type: none;
	top: 1vh;
	transform: translateX(-50%);
}
li {
	background-color: #6271fd;
	border: 2px solid #3748db;
	--size:calc(80vh / 5 - 10px);
	height: var(--size);
	width: var(--size);
	font-size: calc(var(--size) / 2.5);
	line-height: var(--size);
	text-align: center;
	border-radius: 50%;
	box-shadow:inset 0 0 0 3px #fff;
	cursor: pointer;
	margin: 0 0 5px 0;
	position: relative;
}

li:last-of-type{
	margin: 0;
}
ul,#feedback-msg,#score{
	position: absolute;
	left: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	white-space: nowrap;
}
#feedback-msg{
	position: relative;
	top: 82vh;
	height:8vh;
	margin: 0;
	line-height:8vh;
	transform: translateX(-50%);
	color: var(--dark-blue-grey);
	font-family: 'Cave-Story';
	font-size: 30px;
	width: 100%;
	text-transform: uppercase;
	padding: 0;
}
#explanation-msg{
	position: absolute;
	display: inline-block;
	display: inline-block !important;
	bottom: 0;
	transform: translateX(-50%);
	line-height: 0.6em;
	font-size: 0.6em;
	color: var(--light-blue-grey);
	border-bottom: 0.1em solid var(--dark-blue-grey);
	white-space: nowrap;
}
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
#win-streak, #win-streak *{
	font-family: 'Rajdhani', sans-serif;
	line-height: 0.6em !important;
	font-size: 0.6em !important;
	text-transform: uppercase;
	color: var(--light-blue-grey) !important;
	padding: 0 !important;
}
#win-streak span{
	font-size: 1em !important;
}


#score{
	font-family: 'Cave-Story';
	bottom: 0;
	font-size: 25px;
	line-height: 25px;
	padding: 5px 30px;
	border-radius: 20px 20px 0 0;
	transform: translateX(-50%);
	background-color: var(--dark-blue-grey);
	color: white;
	width: auto;
}
#score span{
	color: yellow;
	font-size: 30px;
	line-height: 30px;
	padding: 0 10px;
	margin: 0;
}
#score i{
	font-size: 20px;
	line-height: 30px;
}
#feedback-msg img{
	margin-left: 5px;
	height: 1em;
	position: absolute;
}
#win-msg,#lose-msg,#draw-msg{
	line-height: 1em;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	display: none;
}
#feedback-msg .win-msg img{
	animation: rotateAndGrow 5s infinite ease-in-out;
	transform: rotate(-45deg);
}
#toggleModal{
	color: white;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 100%;
	width: 30px;
	transform: translate(-150%,50%);
	z-index: 2;
}
.help{
	color:var(--dark-blue-grey) !important;
}
.close{
	color: yellow !important;
}
#modal{
	background-color: rgb(38, 44, 58);
	height: 100vh;
	position: absolute;
	width: 100vw;
	z-index: 1 !important;
}
#modal img{
	z-index: 10 !important;
	width: 100vmin;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	z-index: 2;
	transform: translate(-50%,-50%);
}

.users_hand_indicator,.computers_hand_indicator{
	color:var(--dark-blue-grey);
	position: absolute;
	font-size: 18px;
	top:50%;
}
.users_hand_indicator{
	right: 120%;
	transform: translate(-50%,-50%);
}
.computers_hand_indicator{
	left: 120%;
	transform: translate(50%,-50%);
}
.hidden{
	display: none !important;
}
.show{
	opacity: 1 !important;
}

#lose-msg{
	color: var(--red);
}
#win-msg{
	color: var(--light-green);
}
#draw-msg{
	color: var(--dark-blue-grey);
}

/* Hand colors */
.win{
	border-color: var(--dark-green);
	background-color: var(--light-green);
}
.draw{
	border-color: rgb(79, 100, 124);
	background-color: rgb(141, 151, 163);
}
.lose{
	border-color: var(--dark-red);
	background-color: var(--light-red);
}